@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900&display=swap');

body {
  background-image: url(images/background.jpg);
  height: 100vh;
  display: flex;
  /* Выравнивание по вертикали */
  align-items: center;
  /* Выравнивание по горизонтали */
  justify-content: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  background: rgb(14, 112, 63);
  width: 1500px;
  height: 90%;
  border: 1px solid #035314;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 500px 1fr;
  overflow: hidden;
  opacity: 0.8
}

.menu {
  background: #551155;
  border-right: 1px solid #7f439b;
  padding: 30px;
}

.menu_title {
  text-align: center;
}

.menu_button {
  background: #8B0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  font-size: 15px;
}

.forma_input {
  border: 1px solid #D8D9D0;
  padding: 5px 5px;
  flex-grow: 1;
  border: 1px solid #D8D9D0;
  border-radius: 10px;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search_button {
  height: 40px;
  width: 40px;
  margin: 0;
  border: none;
  background: url(images/images/POISK.jpg);
  background-color: #8B0000;
  border-radius: 10px;
  background-position: center;
  justify-content: flex-end;
}

.search_button:hover {
  box-shadow: 0 4px 20px 0 #c3a8d4;
  cursor: pointer;
}

.content {
  padding: 20px;
}

.tags {
  color: #74777B;
}

.tags_li {
  padding: 13px;
  font-size: medium;
  border-radius: 10px;
}

.tags_li:hover {
  box-shadow: 0 4px 20px 0 #c3a8d4;
  cursor: pointer;
  background: #c3a8d4;
}

.zad {
  display:flex;
  flex-direction:column;
  gap:30px;
  border-radius: 10px;
  padding: 20px;
}

.zad_item {
  border: 1px solid #D8D9D0;
  border-radius: 10px;
  padding: 20px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  border: 1px solid #055a1f;
  background: #10521b;
  border-radius: 10px;
}

.date {
  padding-top: 15px;
}